// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #13262f;
$purple: #613f75;
$flame: #d36135;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #5bae6c;
$gray: #0E0000;
$light-gray: #F4F4F4;
