<p style="color: green"><%= notice %></p>

<h1>Restaurants</h1>


<% if policy(Restaurant).new? %>
  <%= link_to new_restaurant_path do %>
    <button class="btn btn-success text-white">+ New restaurant</button>
  <% end %>
<% end %>

<div id="restaurants" class="mt-4 d-flex justify-content-center flex-wrap" style="gap: 10px;">
  <% @restaurants.each do |restaurant| %>
    <div class="card mx-auto" style="width: 300px;">
      <div class="card-body">
        <%= render restaurant %>
        <p>
          <%= link_to "Show this restaurant", restaurant %>
        </p>
      </div>
    </div>
  <% end %>
</div>

